<div class="jumbotron">
	<footer class="footer">
		<a href="https://github.com/TadeunASCIImento">
			<img src="assets/imagens/icone-github.png" class="icone-github" />
		</a>
		<a href="https://bitbucket.org/TadeunASCIImento">
			<img src="assets/imagens/icone-bitbucket.png" class="icone-bitbucket" />
		</a>
		<a href="mailto:tadeunascimentosp@gmail.com">
			<img src="assets/imagens/icone-email.png" class="icone-email" />
		</a>
		<a href="https://linkedin.com/in/tadeu-do-nascimento">
			<img src="assets/imagens/icone-linkedin.png" class="icone-linkedin" />
		</a>
		<p class="parag-foot">Desenvolvido por Tadeu do Nascimento &copy;2020</p>
	</footer>
</div>